<header>
  <div class="container-fluid header__container-fluid">
    <div class="container">
      <div class="rpw header__container-rpw">
        <img src="../../../assets/img/logo.png" alt="" />
        <ul>
          <li><a href="#">Services</a></li>
          <li><a href="#"> About us</a></li>
          <li><a href="#"> How it works</a></li>
        </ul>
        <div class="header__button-container">
          <img src="../../../assets/img/phone.png" alt="" />
          <a class="header__button header__button--activ" href="#">Sign in</a>

          <a class="header__button header__button--activ" href="#">Order</a>
          <img src="../../../assets/img/burger.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>
